@charset "utf-8";
@import './style.scss';
@import './mixin.scss';
@import './common.scss';


@import 'section/header';
@import 'section/footer';

@import 'section/home';
@import 'section/about';
@import 'section/attitude';
@import 'section/portfolio';

@import 'component/modal';


body {
    overflow-y: overlay;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;

        @include responsive(tablet-screens) {
            width: 10px;
        }
    }
    
    &::-webkit-scrollbar-thumb {
        height: 10%;
        background: $point-pink;
        
        border-radius: 10px;
    }

    &.scroll-stop {
        height: 100%;
        position: fixed;
    }
}

#wrapper {
    
    #cursor {
        position: absolute;
        @include square(12px);
        pointer-events: none;
        transform: scale(0);
        border-radius: 50%;
        background-color: $point-pink;

        transition: all .3s;
        
        &.on {
            z-index: 99;
            transform: scale(1);
        }
        
        &.pointer {
            transform: scale(2);
            opacity: .5;
            background-color: $point-neon;
        }
    }    
     
    main {
        word-break: keep-all;
    } // main
} // wraper