@charset "utf-8";
@import './style.scss';
@import './mixin.scss';
@import './common.scss';


@import 'section/header';
@import 'section/footer';

@import 'section/home';
@import 'section/about';
@import 'section/attitude';
@import 'section/portfolio';


@import 'component/modal';



body {
    overflow-y: overlay;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;

        @include responsive(tablet-screens) {
            width: 10px;
        }
    }
    
    &::-webkit-scrollbar-thumb {
        height: 10%;
        background: $point-pink;
        
        border-radius: 10px;
    }

    &.scroll-stop {
        height: 100%;
        position: fixed;
    }
}

#wrapper {
    
    #cursor {
        position: absolute;
        @include square(12px);
        pointer-events: none;
        transform: scale(0);
        border-radius: 50%;
        background-color: $point-pink;

        transition: all .3s;
        
        &.on {
            z-index: 99;
            transform: scale(1);
        }
        
        &.pointer {
            transform: scale(2);
            opacity: .5;
            background-color: $point-neon;
        }
    }

    header {
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 87;
        background-color: transparent;

        transition: all .3s;
        
        @include responsive(pc-screens) {
            border-bottom: 1px solid #fff;
            
            &:hover {
                background-color: $main-color-gary;
            }
        }
    
        .header-inner {
            margin: 30px 20px 0;
                    
            @include responsive(pc-screens) {
                margin: {
                    bottom: 30px;
                    left: 100px;
                }
            }
    
            .logo {
                @include square(34px);
                z-index: 88;
                
                @include responsive(tablet-screens) {
                    @include square(40px);
                }

                a {

                    img {
                        width: 100%;
                    }
                }
            }
    
            #mobileGnb,
            .gnb {
                z-index: 89;
                position: absolute;
    
                li {
                    
                    a {
                        width: 100%;
                        text-align: center;
    
                        span {
                            font-weight: 500;
    
                            &.kr {
                                display: none;
                            }
                        }
    
                        &:hover {
                                
                            .eng {
                                display: none;
                            }
            
                            .kr {
                                display: block;
                            }
                        }
                    } 
                }
            }
            
            .mobile-menu-wrap {
                background-color: violet;
                
                @include responsive(tablet-screens) {
                    display: none;
                }
    
                .mobile-menu-bt {
                    
                    .bt-box {
                        position: absolute;
                        right: 20px; top: 34px;
                        z-index: 90;
                        
                        span {
                            display: block;
                            width: 30px; height: 2px;
                            background-color: #fff;
                            
    
                            transition: all .2s; 
    
                            &:nth-child(2) {
                                background-color: $point-neon;
                            }
                            
                            & + span {
                                margin-top: 10px;
                            }
                        }
                        
                        &.on {
    
                            span {
                                background-color: $main-color-gary;
                                
                                &:nth-child(2) {
                                    @include square(34px);
                                    border-radius: 3px;
                                    background-color: $point-neon;
                                }
    
                                &:first-child,
                                &:last-child {
                                    @include position_center();
                                    width: 22px; height: 3px;
                                }
                                
                                &:first-child {
                                    transform: translate(-50%, -50%) rotate(45deg);   
                                }
                                
                                &:last-child {
                                    transform: translate(-50%, -50%) rotate(-45deg);   
                                }
    
                                & + span {
                                    margin-top: 0;
                                }
                            }
                        }
                    } // bt-box
                } // .mobile-menu-bt
    
                #mobileGnb {
                    position: absolute;
                    left: 100%; top: 0;
                    width: 100%; height: 100vh;
                    background: url('../images/cat_ear.svg') $main-color-gary no-repeat center bottom;
                    background-size: 80%;
    
                    transition: all .8s;
    
                    &.on {
                        left: 0;
                    }
        
                    li {
                        
                        &:first-child {
                            margin-top: 140px;
                        }
                        
                        & + li {
                            margin-top: 60px;
                        }
    
                        a {
    
                            span {
                                font-size: 34px;
                            }
                        }
                    }
                } // mobileGnb
            } // mobile-menu-wrap
            
            #gnbWrap {
    
                .gnb {
                    display: none;
                    position: absolute;
                    top: 35px; right: 30px;
                    width: 360px;
                    
                    @include responsive(tablet-screens) {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    li {
                        position: relative;
                        width: 120px;

                        span{
                            
                            &.dot {
                                display: block;
                                position: absolute;
                                top: 0; left: 50%; 
                                transform: translateX(-50%);
                                @include square(10px);
                                border-radius: 50%;
                                background-color: $point-pink;
                                
                                animation: .5s bounce alternate infinite cubic-bezier(.1, .1, .1, .8);
                                
                                @keyframes bounce {
                                    from {top: 0;}
                                    to {top: -12px;}
                                }
                            }
                        }
                        
                        a {
                            padding: 5px;
                            text-shadow: $shadow-text;
                            span {
                                font-size: 24px;
                            }
                        }
                    }
                } // gnb
            } // gnbWrap
        } // header-inner
    } // header
    
    
    

    
    main {
        word-break: keep-all;
    } // main
} // wraper