@charset "utf-8";
@import './style.scss';
@import './common.scss';
@import './mixin.scss';

header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 70;
    background-color: transparent;
    
    @include responsive(pc-screens) {
        border-bottom: 1px solid #fff;
        background-color: $main-color;
    }

    .header-inner {
        margin: 30px 20px 0;
        // background-color: saddlebrown;
                
        @include responsive(pc-screens) {
            margin: {
                bottom: 30px;
                left: 100px;
            }
        }

        .logo {
            @include square(38px);
            z-index: 80;
            background-color: #fff;
            
            @include responsive(tablet-screens) {
                @include square(46px);
            }
        }

        .mobile-menu-list,
        .gnb {
            z-index: 90;
            position: absolute;

            li {
                
                a {
                    width: 100%;
                    text-align: center;

                    span {
                        font-weight: 500;

                        &.kr {
                            display: none;
                        }
                    }

                    &:hover {
                            
                        .eng {
                            display: none;
                        }
        
                        .kr {
                            display: block;
                        }
                    }
                } 
            }
        }
        
        .mobile-menu-wrap {
            background-color: violet;
            
            @include responsive(tablet-screens) {
                display: none;
            }

            .mobile-menu-bt {
                
                .bt-box {
                    position: absolute;
                    right: 20px; top: 34px;
                    z-index: 99;
                    
                    span {
                        display: block;
                        width: 30px; height: 2px;
                        background-color: #fff;
                        
                        transition: all .3s;
                        
                        &:nth-child(2) {
                            background-color: $point-neon;
                        }
                        
                        & + span {
                            margin-top: 10px;
                        }
                    }
                    
                    &.on {

                        span {
                            background-color: $main-color;
                            
                            &:nth-child(2) {
                                @include square(34px);
                                border-radius: 3px;
                                background-color: $point-neon;
                            }

                            &:first-child,
                            &:last-child {
                                @include position_center();
                                width: 22px; height: 3px;
                            }
                            
                            &:first-child {
                                transform: translate(-50%, -50%) rotate(45deg);   
                            }
                            
                            &:last-child {
                                transform: translate(-50%, -50%) rotate(-45deg);   
                            }

                            & + span {
                                margin-top: 0;
                            }
                        }
                    }
                } // bt-box
            } // .mobile-menu-bt

            .mobile-menu-list {
                display: none;
                left: 0; top: 0;
                width: 100%; height: 100vh;
                background: url('../images/cat_ear.svg') $main-color no-repeat center bottom;
                background-size: 80%;
    
                li {
                    
                    &:first-child {
                        margin-top: 140px;
                    }
                    
                    & + li {
                        margin-top: 60px;
                    }

                    a {

                        span {
                            font-size: 34px;
                        }
                    }
                }
            } // mobile-menu-list
        } // mobile-menu-wrap
        
        .gnb-wrap {

            .dot {
                display: block;
                position: absolute;
                top: -12px; left: 50%; 
                transform: translateX(-50%);
                @include square(10px);
                border-radius: 50%;
                background-color: $point-pink;
            }

            .gnb {
                display: none;
                position: absolute;
                top: 48px; right: 30px;
                width: 540px;
                
                @include responsive(tablet-screens) {
                    display: flex;
                    justify-content: space-between;
                }
                
                li {
                    position: relative;
                    width: 120px;
                    
                    a {
    
                        span {
                            font-size: 24px;
                        }
                    }
                }
            } // gnb
        } // gnb-wrap
    } // header-inner
} // header



main {
    overflow: hidden;

    .index-wrap > h3 {
        font-size: 20px;
    
        @include responsive(pc-screens) { font-size: 24px; }
    }

    section#intro-wrap {
        position: relative;
        
        .intro {
            position: relative;
            
            .background-bk, .background-neon {
                width: 100vw; 
                height: 100vh;
                overflow: hidden;
            }

            .intro-txt {
                padding-top: 145px;

                @include responsive(pc-screens) {
                    padding-top: 220px;
                }

                > span {
                    font-size: 24px;
                    
                    @include responsive(tablet-screens) {
                        font-size: 30px;
                    }

                    @include responsive(pc-screens) {
                        font-size: 40px;
                    }
                    
                    strong {
                        font-size: 30px;

                        @include responsive(tablet-screens) {
                            font-size: calc(1em + 20px);
                        }

                        .point-txt {
                            color: $point-pink;
                        }
                    }
                }
            }

            .intro-img {
                width: calc(322px/ 390px) * 100%;
                margin: {
                    top: 80px;
                    left: auto;
                    right: calc(90px/ 390px) * -100%;
                }
                
                @include responsive(pc-screens) {
                    width: calc(757px / 1920px) * 100%;
                    margin: {
                        top: -25px;
                        left: auto;
                        right: 0;
                    }
                }
            }
            
            .mouse-pointer {
                display: none;
                position: absolute;
                left: 800px; top: 250px;
                @include square(240px);
                overflow: hidden;
                border-radius: 50%;

                @include responsive(pc-screens) {
                    display: block;
                }
                
                .background-neon {
                    position: absolute;
                    left: -800px; top: -250px;
                    background-color: $point-neon;

                    .intro-box {
                        position: relative;
                        height: 100vh;
                        
                        .intro-txt,
                        .hidden-txt {
                            color: $main-color;
                        }
    
                        .hidden-txt {
                            position: absolute;
                            left: calc(330px / 1380px) * 100%;
                            top: calc(620px / 1380px) * 100%;
                            font-family: $point-font;
                        }
    
                        .hidden-arrow {
                            position: absolute;
                            left: 50%; bottom: 27px;
                            transform: translateX(-50%);
                            width: calc(95px / 1380px) * 100%;
                        }
                    }
                }
            }
        } // intro
    } // section#intro-wrap

    section#about-wrap {
        background-color: $sub-color;

        .about {
            padding-top: 75px;
            color: $main-color;

            @include responsive(tablet-screens) {
                padding-top: 120px;
            }

            @include responsive(pc-screens) {
                padding-top: 230px;
            }

            .about-title {
                text-align: center;

                strong {
                    display: block;
                    @include font_height(22px, 30px);

                    @include responsive(tablet-screens) {
                        @include font_height(40px, 50px)
                    }

                    @include responsive(pc-screens) {
                        @include font_height(64px, 75px)
                    }

                    .point-txt {
                        color: $point-pink;
                    }
                }
            }

            .about-flex {
                margin-top: 100px;

                @include responsive(tablet-screens) {
                    display: flex;
                    justify-content: space-between;
                }

                @include responsive(pc-screens) {
                    width: calc(1160px / 1380px) * 100%;
                    margin-top: 200px;
                }

                .about-txt {
                    @include font_height(1em);

                    @include responsive(tablet-screens) {
                        margin-top: 100px;
                        width: calc(650px / 1380px) * 100%;
                        order: 2;
                    }
                    
                    @include responsive(pc-screens) {
                        margin-top: calc(150px / 1380px) * 100%;
                        width: calc(650px / 1380px) * 100%;
                    }
                }

                .about-img {
                    margin-top: 90px;
                    margin-left: 20%;
                    width: 200px;
                    aspect-ratio: 4/5;
                    background-color: #eee;
                    
                    @include responsive(tablet-screens) {
                        margin-top: 0;
                        margin-left: 0;
                        width: 300px;
                        order: 1;
                    }
                    
                    @include responsive(pc-screens) {
                        margin-left: 80px;
                        width: calc(390px / 1380px) * 100%;
                    }
                }
            }
        } // about
    } // section#about-wrap

    section#attitude-wrap {
        margin-top: 60px;

        @include responsive(pc-screens) {
            margin-top: 140px;
        }
        .attitude {
            
            .index-wrap {
                text-align: right;
                
                .index {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 140px;
                    margin-left: auto;
                    
                    @include responsive(pc-screens) {
                        width: 170px;
                    }

                    span {
                        display: block;
                        width: 100px; height: 1px;
                        background-color: #fff;

                        @include responsive(pc-screens) {
                            width: 124px;
                        }
                    }
                }
            } // index-wrap

            .attitude-inner {
                margin-top: 50px;

                @include responsive(pc-screens) {
                    margin-top: 66px;
                }
                
                .title {
                    font-size: 60px;

                    @include responsive(tablet-screens) {
                        font-size: 100px;
                    }

                    @include responsive(pc-screens) {
                        margin-left: 160px;
                        font-size: 150px;
                    }
                }

                .attitude-flex {

                    @include responsive(tablet-screens) {
                        display: flex;
                    }

                    .img-pagemove-box {
                        margin: 0 auto;
                        width: 240px;
                        
                        @include responsive(tablet-screens) {
                            margin-left: 55px;
                            width: 320px;
                        }

                        @include responsive(pc-screens) {
                            width: 320px;
                            margin-left: calc(300px / 1380px) * 100%;
                        }
                        

                        .img {
                            margin-top: -20px;
                            width: 100%;
                            aspect-ratio: 32 / 39;
                            background: url(../images/attitude\(1\).png) no-repeat center top;
                            background-size: 110%;
                            
                            @include responsive(tablet-screens) {
                                margin-top: -30px;
                            }
                            
                            @include responsive(pc-screens) {
                                margin-top: -45px;
                            }

                            &::before {
                                @include overlay($point-pink);
                                width: 30%;
                            }
                        }

                        .pagemove {
                            margin-top: -24px;
                            text-align: center;

                            .prev, .next {
                                width: 54px; height: 50px;
                            }

                            .next {
                                margin-left: 50px;

                                @include responsive(pc-screens) {
                                    margin-left: 70px;
                                }
                            }
                        }
                    } // img-pagemove

                    .attitude-txt {
                        margin-top: 30px;
                        @include font_height(1em);

                        @include responsive(tablet-screens) {

                            margin-left: 40px;
                            margin-right: 40px;
                        }

                        @include responsive(pc-screens) {
                            margin-left: 70px;
                            margin-right: 190px;
                            width: 500px;
                        }
                    }
                }
            }
        } // attitude
    } // section #attitude-wrap

    section#skill-wrap {
        padding-top: 100px;
        
        @include responsive(pc-screens) {
            padding-top: 320px;
        }

        .skill {
            
            height: 100vh;

            h3 {
                font-size: 20px;

                @include responsive(pc-screens) {
                    font-size: 30px;
                }
            }
            
            .skill-list {
                // display: flex;
                margin: 40px 40px 0;
                
                
                .perspective {
                    // position: relative;
                    perspective: 2000px;
                    perspective-origin: -700px 500px;
                    background-color: darkblue;
                    
                    .cube {
                        $size: 80px;
                        position: relative;
                        transform-style: preserve-3d;
                        // transform: rotate3d(x, y, z, angle);
                        width: 80px;
                        animation: 5s cuberotate linear infinite;

                        @keyframes cuberotate {
                            from { transform: rotateY(0);}
                            to { transform: rotateY(360deg);}
                        }

                        @include responsive(pc-screens) {
                            width: 160px;
                        }

                        > div {
                            position: absolute;
                            left: 0; top: 0;
                            color: rgba(255, 255, 255, 0.6);
                            border: 2px solid rgba(255, 255, 255, 0.6);
                            background-color: $main-color;
                            
                            @include cube(80px);
                            
                            @include responsive(pc-screens) {
                                @include cube(160px);
                            }

                            h4 {
                                @include position_center();
                                text-align: center;
                                padding: auto;
                                font-family: $point-font;
                                // @include font_height(18px, $side);
                                font-size: calc(1em + 4px);
                                
                                @include responsive(pc-screens) {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} // main