@charset "utf-8";
@import './style.scss';
@import './common.scss';
@import './mixin.scss';

header {
    @include header;

    @include close_bt($leeum-yellow, $leeum-red-brown);
   
    @include link_box($leeum-red-brown, $leeum-dark-brown);
} // header

main {
    margin-top: 300px;
    
    @include responsive(tablet-screens) {
        margin-top:500px;
    }

    section.design-strategy {
        
        .strategy-txt {
            word-break: keep-all;
            margin: 60px 100px 0;
            line-height: 34px;
        }
    }

    section.color-font-wrap {
        
        .color-font-flex {

            @include responsive(pc-screens) {
                display: flex;
                justify-content: space-between;
            }

            .flex-item:first-child {

                @include responsive(pc-screens) {
                    width: 45%;
                }

                .color-wrap {
    
                    .color-list {
                        margin-top: 50px;
                        margin-left: 50px;
                        display: flex;
    
                        li {
                            text-align: center;
    
                            & + li {
                                margin-left: 20px;
                            }
                            
                            $color_list: ($leeum-dark-brown, $leeum-red-brown, $leeum-yellow-brown, $leeum-yellow);

                            @for $i from 1 through length($color_list) {
                                &:nth-child(#{$i}) {
                                    div.color-chip {background-color: nth($color_list, $i);}
                                    span.color { color: nth($color_list, $i); }
                                }
                            }
    
                            div.color-chip {
                                @include square(100px);
                                border-radius: 50%;      
                            }
    
                            span.color {
                                display: block;
                                margin-top: 20px;
                                font-weight: 600;
                            }
                        }
                    }
                } // color-wrap
    
                .font-wrap {
                    margin-top: 120px;
                    
                    > .font1, .font2 {
                        margin-top: 60px;
                        margin-left: 50px;
                        
                        strong {
                            font-size: 30px;
                        }
    
                        ul.font-list {
                            margin-top: 30px;
    
                            li {
                                margin-top: 7px;
                            }
                        }
                    }
    
                    .font1 {
                        font-family: $leeum-font01;
                        
                        ul.font-list {
                            
                            li {
                                $font_weight_list1: (700, 600, 500, 400, 200);
            
                                @for $i from 1 through length($font_weight_list1) {
                                    &:nth-child(#{$i}) {
                                        font-weight: nth($font_weight_list1, $i);
                                    }
                                }
                            }
                        }
                    }
                    
                    .font2 {
                        font-family: $leeum-font02;    

                        ul.font-list {
                            
                            li {
                                $font_weight_list2: (700, 400, 300);
            
                                @for $i from 1 through length($font_weight_list2) {
                                    &:nth-child(#{$i}) {
                                        font-weight: nth($font_weight_list2, $i);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .flex-item:last-child {
                display: none;
                @include responsive(pc-screens) {
                    display: block;
                    width: 55%;
                }
                
                @include color_font_img;
            }
        }
    } // section.color-typography-wrap

    section.grid-system-wrap {

        table {
            width: 70%;
            margin: 100px auto 80px;
            border-radius: 5px;
            background-color: $profile-neon;
            
            th, td {
                text-align: center;
                padding: 15px 30px;
                font-size: 24px;
            }
        }

        .grid-pc-img {

            img {
                display: block;
                width: 100%;
            }
        }
    }

    section.wireframe-grid-wrap {

        .button-box {
            display:flex;
            justify-content: space-between;
            width: 300px;
            margin: 80px auto 0;
            overflow: hidden;
            border-radius: 50px;

            > button {
                width: 50%;
                padding: 15px 0;
                text-align: center;
                cursor: pointer;
                font-size: 1em;
                font-weight: 500;

                color: #c5c5c5;
                background-color: #f1f1f1;

                &:hover,&:focus,&.on {
                    color: #ffffff;
                    background-color: $profile-black;
                }
            }
        }

        .wireframe-grid-inner {
            margin-left: 40px;
            
            .wireframe-grid-flex {
                margin-top: 100px;
                display: flex;
                
                table {
                    display: block;
                    width: 20%;
                    height: 500px;
                    border-radius: 5px;
                    
                    th, td {
                        text-align: center;
                        padding: 15px 30px;
                        font-size: 24px;
                    }
    
                    th {
                    font-weight: 100;
                    }
    
                    td {
                        font-weight: 600;
                    }
                }

                .wireframe-grid-img {
                    width: 80%;

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 500px;
                    }
                }
            }
        }
    } // section.wireframe-gird-wrap

    section.page-wrap {

        .page-img {
            display: flex;
            justify-content: space-around;
            align-items: start;
            flex-wrap: wrap;
            
            img {
                margin-top: 100px;
                width: 370px;
                border: 1px solid #dedede;
            }
        }
    } // section.page-wrap
}