// 반응형
$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1028px;

// 색상
$jeolmul-color01: #9c8c7e;
$jeolmul-color02: #c2b7ad;
$jeolmul-color03: #ebe4dd;

$profile-black: #222222;
$profile-beige: #e3e0dd;
$profile-pink: #ff5da2;
$profile-neon: #ddff0d;

// 글꼴
$main-font: "NanumSquareNeo-Variable";

$jeolmul-font01: "GangwonEdu_OTFBoldA";
$jeolmul-font02: NanumSquareRound;

$profile-font01: Pretendard;
$profile-font02: Cafe24Dongdong;

// svg 이미지 색상 변경
// $svg-black: brightness(0) saturate(100%);